.article{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 10px;
}
.article-left .ant-card {
    margin-bottom: 10px;
}
.article .article-right{
    flex-grow: 3;
}
.area-post-menu{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-evenly;
}
.menu {
    margin-top: 20px;
}
@media only screen and (max-width: 1120px) {
    .article-right{
        flex-grow: 2;
    }
}
@media only screen and (max-width: 980px){
    .article-left{
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .menu{
        width: 95% !important;
    }
}
